$primary: #830304;

body {
    overflow-x: hidden;
}

.product-card {
    border: 1px solid $primary;
    width: 100%;
}

.product-img {
    width: 150px;
    display: block;
}

.benefits {
    display: grid;
}

@media (max-width: 900px) {
    .benefits {
        display:none;
    }
}